Flask-SQLAlchemy==2.3.2
SQLAlchemy==1.2.14
Flask-Script==2.0.6
# py-ms==0.1.1
git+https://github.com/python-microservices/pyms.git@master#egg=py-ms

# Old version because https://github.com/mkdocs/mkdocs/pull/1427 and this has incompatibility with jaeger-client-python
mkdocs==0.17.5
